__pycache__/
*.pyc

.vscode/
.idea/

outputs/*.png
outputs/iter_renders/
outputs/iter_textures/
outputs/*.mp4
outputs/*.gif

# Large local sample assets
data/sample/*.obj
data/sample/*.png
data/sample/*.mtl

# Keep directories
!outputs/.gitkeep